@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap');

.App {
  text-align: center;
  font-family: 'Hahmlet', serif;
}

.Form-group {
  /* border: 1px solid black; */
  margin: auto;
  margin-bottom: 2em;
  width: 70%;
}

.Form-group input {
  padding: 1em;
  width: 30%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.Check {
  border: none;
  outline: none;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 20%;
  background-color: #cdb4db;
  color: black;
}

.Birthday-loading {
  width: 70%;
  margin: auto;
}

.Birthday-loading img {
  width: 30%;
}

.Birthday-output {
  padding: 1em;
  background-color: #cdb4db;
  width: 70%;
  margin: auto;
  margin-bottom: 5em;
}

/* Responsive css */

@media (max-width: 576px) {
  .App-heading {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .App-desc {
    margin-left: 1em;
    margin-right: 1em;
  }

  .Form-group {
    width: 100%;
  }

  .Form-group input {
    padding: 1em;
    width: 70%;
  }

  .Check {
    width: 30%;
  }

  .Birthday-loading img {
    width: 50%;
  }

  .Birthday-output {
    width: 80%;
    margin-bottom: 2em;
  }
}
